name: Deploy Portfolio with Make

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Lancer le Makefile
        # C'est ici que GitHub va compiler ton Tailwind et ton TS
        run: make

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload du dossier de sortie
        uses: actions/upload-pages-artifact@v3
        with:
          # IMPORTANT : Vérifie si ton Makefile crée un dossier "dist"
          # Si c'est le cas, garde './dist'. Sinon, mets './'
          path: './dist' 

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
